body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:10px;line-height:12px;color:#333333;background-color:#ffffff;}
a{color:#0088cc;text-decoration:none;}

label,input,button,select,textarea{font-size:10px;font-weight:normal;line-height:12px;}
table {font-size:10px; }
